hr {
    color: #000000;
    height: 4em;
}

body#front {
    background: url(images/site/textBackground.png) repeat-x;
}

body#extension {
    background-repeat: repeat;
    background-color: #dedede;
}

body#extension h1, body#extension h2, body#extension h3 {
    font-family: "Charis SIL", Georgia, "Times New Roman", serif;
    font-weight: bold;
    color: black;
}

body#extension a {
    color: #de0000;
    font-weight: bold;
    text-decoration: none;
}

body#extension a:hover {
    color: #dedede;
    background-color: #de0000;
    font-weight: bold;
    text-decoration: none;
}

#JJPSExtensionTopDiv {
    background-image: url(images/site/extensionPageBackground.png);
    background-repeat: no-repeat;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #dedede;
}

.frontBig h1 a {
    color: #dedede;
    background-color: #de0000;
    display: block;
}

div#posts h1 {
    color: #de0000;
}

p.date {
    background-color: #de0000;
    color: #dedede;
}

.frontBig h1 a:hover {
    background-color: #dedede;
    color: #de0000;
    display: block;
}

body#radio {
    background: url("images/site/diagonalBackground.png") repeat fixed;
}

#footer {
    font-size: smaller;
}

div.JJPSTitle {
    font-size: 3.5em;
    font-weight: bold;
    font-family: Delicious;
}

div.frontBig h1 {
    margin-top: 0.5em;
    font-size: 3em;
    font-weight: bold;
}

div#JJPSMainLinks a {
    text-decoration: none;
}

div#posts h1 {
    font-weight: bold;
}

#JJPSExtensionMenu {
    margin-top: 2em;
}

#JJPSExtensionMenu li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    margin-right: 6px;
    font-size: 2em;
}

#JJPSExtensionMenu li a {
    border-bottom: 3px solid #454545;
    text-decoration: none;
    color: #454545;
    font-weight: normal;
}

#JJPSExtensionMenu li a:hover {
    color: #d90000;
    border-bottom: 3px solid #d90000;
    font-weight: normal;
    background-color: transparent;
}

body#radio .menuItem, body#radio .item {
    min-height: 100px;
    background-color: #ccc;
    margin-bottom: 8px;
}

div#current, div#next {
    min-height: 100px;
    background-color: #d90000;
}

.menuItem h1, .item h1, .item h2, .item p {
    padding: 8px;
}

.menuItem a {
    text-decoration: none;
    display: block;
    color: black;
}

.menuItem a:hover {
    background-color: #d90000;
    color: #dedede;
}

.menuHighlighted {
    background-color: #d90000 !important;
}

.menuHighlighted a {
    color: #dedede !important;
}

#current h1, #next h1 {
    padding: 8px;
    color: #dedede;
}

#current p, #next p {
    padding-left: 8px;

}

#current p a, #next p a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #dedede;
    color: black;
}

#JJPSRadioFooterText p a {
    text-decoration: none;
    font-weight: bold;
    background-color: #dedede;
    color: black;
}

#JJPSRadioFooterText p a:hover, #current p a:hover, #next p a:hover {
    background-color: #d90000;
    color: #dedede;
}

#JJPSRadioFooterImage {
    position: fixed;
    bottom: 0em;
    left: 0em;
}

#JJPSRadioFooterText {
    position: fixed;
    bottom: 0em;
    left: 0em;
    width: 100%;
}

#JJPSRadioFooterText {
    background: url('images/site/JJPSRadioBottomBackground.png') repeat-x;
    height: 100px;
}

#JJPSRadioFooterText p {
    margin-top: 70px;
    margin-left: 95px;
    font-size: 1.3em;
    font-weight: bold;
    color: #dedede;
}

/* Each hour is 50px tall with 4 px bottom margin */
#timeDiv p.blankHeader {
    height: 25px;
}

#timeDiv p {
    height: 50px;
    margin-bottom: 4px;
}

#scheduleDiv {
    width: 100%;
    float: left;
    font-family: "Lucida Grande", "Helvetiva Neue", "Helvetica", "Arial", sans-serif;
}

#scheduleDiv .dayClass {
    width: 120px;
    float: left;
    margin-right: 4px;
}

#scheduleDiv .dayClass h3 {
    height: 25px;
    margin-bottom: 4px;
    font-weight: bold;
    text-align: center;
}

#scheduleDiv h4 a {
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    display: block;
    color: black;
}

#scheduleDiv h4 a:hover {
    background-color: #d90000;
    color: #dedede;

}

#scheduleDiv .programItem {
    background-color: #dedede;
}

#scheduleDiv .oneHour {
    height: 50px;
    margin-bottom: 4px;
}

#scheduleDiv .twoHours {
    height: 104px; /* 50 * 2 + 4 */
    margin-bottom: 4px;
}

#scheduleDiv .threeHours {
    height: 158px; /* 50 * 3 + 4 * 2 */
    margin-bottom: 4px;
}

#scheduleDiv .fourHours {
    height: 212px; /* 50 * 4 + 4 * 3 */
    margin-bottom: 4px;
}

#scheduleDiv .fiveHours {
    height: 266px; /* 50 * 5 + 4 * 4 */
    margin-bottom: 4px;
}

#scheduleDiv .sixHours {
    height: 320px; /* 50 * 6 + 4 * 5 */
    margin-bottom: 4px;
}

#scheduleDiv .highlightProgram {
    background-color: #d90000;
}

#scheduleDiv .highlightProgram a {
    color: #dedede;
}
