$def with ()
$var title: Screenshots || Extension || Journal of Journal Performance Studies
<div id="JJPSExtensionTopDiv" class="span-24 last append-bottom">
    <div class="prepend-2 span-8">
        <h1>Screenshots</h1>
    </div>
    <div class="span-8 append-6 last">
        <div>
            <div><img src="/static/images/site/factors.png" width="300" alt="" /></div>
            <h2>Factors</h2>
        </div>
        <div>
            <div><img src="/static/images/site/graph.png" width="300" alt=""/></div>
            <h2>Ownership Graph</h2>
        </div>
        <div>
            <div><img src="/static/images/site/radio.png" width="300" alt=""/></div>
            <h2>JJPS Radio</h2>
        </div>
        <div>
            <div><img src="/static/images/site/trending.png" width="300" alt=""/></div>
            <h2>Trending Words by Volume or Price</h2>
        </div>
        <div>
            <div><img src="/static/images/site/upload.png" width="300" alt=""/></div>
            <h2>Upload Article</h2>
        </div>
        <div>
            <div><img src="/static/images/site/vote.png" width="300" alt=""/></div>
            <h2>Vote for Article</h2>
        </div>
        <div>
            <div><img src="/static/images/site/footer.png" width="300" alt=""/></div>
            <h2>Display information about prices and headlines for journal and its publisher</h2>
        </div>
    </div>
</div>
