$def with ()
$var title: Features || Extension || Journal of Journal Performance Studies

<div id="JJPSExtensionTopDiv" class="span-24 last append-bottom">
    <div class="prepend-4 span-6">
        <h1>Features</h1>
        <h2><a href="#PerformanceInfo">Performance Info</a></h2>
        <h2><a href="#JournalSites">Journal Websites</a></h2>
        <h2><a href="#Factors">Factors</a></h2>
        <h2><a href="#Graphs">Graphs</a></h2>
        <h2><a href="#Cost">Cost</a></h2>
        <h2><a href="#Headlines">Headlines</a></h2>
        <h2><a href="#Ads">Ads</a></h2>
        <h2><a href="#Trending">Trending</a></h2>
        <h2><a href="#Radio">Radio</a></h2>
        <h2><a href="#Vote">Vote</a></h2>
        <h2><a href="#Copy">Copy</a></h2>
        <h2><a href="#Upload">Upload</a></h2>
    </div>
    <div class="span-8 append-6 last">
        <div id="PerformanceInfo">
            <h2>Performance Info</h2>
            <p>The JJPS Firefox extension is designed to provide you with the latest performance information for academic journals.  We pull from a database of over 16000 journals and their publishers to present an unparalleled look into the world of academic publishing.  All of this information is presented to you from within your browser as you visit journal websites, making the JJPS extension a vital addition to your research toolkit.</p>
        </div>
        <div id="JournalSites">
            <h2>Journal Websites</h2>
            <p>We have custom designed the extension to work on the largest academic publishing websites like the following:</p>
            <ul>
                <li>CiteULike</li>
                <li>Elsevier's Science Direct</li>
                <li>Google Scholar</li>
                <li>InformaWorld</li>
                <li>Ingenta Connect</li>
                <li>John Wiley &amp; Sons</li>
                <li>Sage Publications</li>
                <li>Springer Link</li>
                <li>Taylor &amp; Francis</li>
            </ul>
            <p>We are always working on adding new websites to the JJPS extension; if you have one you are interested in having added, please drop us a line and we will add it to our list.</p>
        </div>
        <div id="Factors">
            <h2>Factors</h2>
            <p><img class="featuresImage" src="/static/images/site/factorsCut.png" alt="factors" />We all know how important bibliometrics are for modern journals.  Some journals even advertise these factors on front page of their site!  Even so, there are so many factors out there that it is hard to collate all of them together in one place.  We've done that for you with the JJPS extension; for all the known factors for a journal, we display them under the "Factors" menu.  We've developed some of our own variations too, including the Frobpact Factor (anti-&trade;), Eigenfrob Factor (anti-&trade;), Frobfluence (anti-&trade;), and the ClickValue.  Never question how "important" a journal is again!</p>
        </div>
        <div id="Graphs">
            <h2>Graphs</h2>
            <p><img class="featuresImage" src="/static/images/site/graphCut.png" alt="graph" />Knowing what other journals are owned by the same publisher is important, because it tells you how larger a publisher is and thus how much they can influence the landscape.  The JJPS extension gives you this information graphically in the "Graph" menu.  Sometimes it's a bit difficult to see the names of all of the other journals owned by the same publisher; but the blackness only means that the publisher is a behemoth and can through its weight around!</p>
        </div>
        <div id="Cost">
            <h2>Cost</h2>
            <p><img class="featuresImage" src="/static/images/site/footerCut.png" alt="cost" />Most authors do not know how much a journal costs their home institution.  Since the institution pays for the site license, there's no need to make an inquiry on your own.  Where possible, the JJPS Extension rectifies this, displaying the present yearly institutional cost at the bottom of the browser window.  Never confess ignorance again!</p>
        </div>
        <div id="Headlines">
            <h2>Headlines</h2>
            <p>Do you wonder what goes on in the business side of academic publishing?  Do you know what the stock price of Elsevier is?  The JJPS Extension presents this information to you as well at the bottom of the browser window, by pulling, where possible, real-time headlines and stock quotes of the given publisher.  Keep tabs on the public face of the academic publishing industry!</p>
        </div>
        <div id="Ads">
            <h2>Ads</h2>
            <p><img class="featuresImage" src="/static/images/site/adsCut.png" alt="ads" />Tired of the same conference advertisements on journal webpages?  The JJPS Extension replaces these ads with new ones that project contemporary trends into the future.  See what types of ads you'll be looking at once journals and articles are subject to the open market of Google!</p>
        </div>
        <div id="Trending">
            <h2>Trending</h2>
            <p><img class="featuresImage" src="/static/images/site/trendingCut.png" alt="trending" />These days, more then ever, it's important to know how to choose the most meaningful, most valuable words in your article.  The Trending area of the JJPS Extension gives you these words based on the latest information from Google Ad Words, Google's open auction house for words and phrases.  We show you either the hottest trending words by price or volume, selected from the titles and owner names of the over 16000 journals in our database.  Know what's hot before your colleagues do!</p>
        </div>
        <div id="Radio">
            <h2>Radio</h2>
            <p><img class="featuresImage" src="/static/images/site/radioCut.png" alt="radio" />Connect with another project in the JJPS Network, <a href="/radio">JJPS Radio</a>.  There we present recitations of articles in our database of hundreds, translate these articles into sound in all sorts of novel ways, and present news and views important for the study of journal performance.  Listen to the radio today!</p>
        </div>
        <div id="Vote">
            <h2>Vote</h2>
            <p><img class="featuresImage" src="/static/images/site/voteCut.png" alt="vote" />While we can predict trends by applying our complex algorithms, it's you, the academic, who actually makes trends occur.  The "Vote" button allows you to vote on particular articles that you visit during your browsing.  These votes will be tabulated with all of the other JJPS users to create a list of the most popular articles; the top ones will be added to the rotation of JJPS Radio as well!</p>
        </div>
        <div id="Copy">
            <h2>Copy</h2>
            <p>Want to let your colleagues know what you're reading and how much it costs?  Use the "Copy" button to copy the journal information found in the footer to the clipboard.  Then it's just a quick paste away from being added to your Facebook News Feed for everyone to know just what you find interesting.</p>
        </div>
        <div id="Upload">
            <h2>Upload</h2>
            <p><img class="featuresImage" src="/static/images/site/uploadCut.png" alt="upload" />Certain portions of sites will reveal an "Upload" button, allowing you to upload the article you're viewing to your servers.  This will help us to not only see which articles are popular, but also add new and interesting articles to our database for JJPS Radio!</p>
        </div>
    </div>
</div>
