$def with (frontmatter)
$var title: Extension || Journal of Journal Performance Studies

<div class="span-24 last append-bottom">
    <div class="span-8 prepend-top">
        <img src="/static/images/site/JJPSExtensionHeader.png" alt="JJPS Extension" />
    </div>
    <div class="span-16 prepend-top last">
        <ul id="JJPSExtensionMenu">
            <li><a href="#">Documentation</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Developers</a></li>
        </ul>
    </div>
</div>

<div class="span-24 last append-bottom">
    <div class="span-13">
        <img src="/static/images/site/JJPSExtensionFront.png" alt="JJPS Extension" />
    </div>
    <div class="span-9 append-2 last">
        <h1>For all your journal performance needs.</h1>            
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula molestie blandit. Aenean egestas venenatis nisi ut accumsan. Pellentesque vestibulum imperdiet tempus. Praesent semper varius urna, eget ultricies lorem consectetur vel. In hac habitasse platea dictumst. Pellentesque egestas leo vel est lacinia auctor. Vestibulum at ante dui, vel hendrerit sem.</p>
        <div><img src="/static/images/site/JJPSExtensionDownloadButton.png" alt="JJPS Button" /></div>
    </div>
</div>
<div class="span-24 last prepend-top">
    <div class="append-bottom prepend-2 span-18 append-4 last">
        <div class="span-8">
            <img src="/static/images/site/ExtensionFactors.png" alt="Factors" />
        </div>
        <div class="span-10 append-bottom last">
            text
        </div>
    </div>
    <div class="append-bottom prepend-2 span-18 append-4 last">
        <div class="span-8">
            <img src="/static/images/site/ExtensionGraph.png" alt="Graph" />
        </div>
        <div class="span-10 append-bottom last">
            text
        </div>
    </div>

    <div class="append-bottom prepend-2 span-18 append-4 last">
        <div class="span-8">
            <img src="/static/images/site/ExtensionCopy.png" alt="Copy items" />
        </div>
        <div class="span-10 append-bottom last">
            text
        </div>
    </div>
    <div class="prepend-2 span-18 append-4 last">
        <div class="span-6">
            image
        </div>
        <div class="span-12 last">
            text
        </div>
    </div>
    <div class="span-24 last">
        $:frontmatter
    </div>
</div>
