$def with (frontmatter)
$var title: Documentation || Extension || Journal of Journal Performance Studies

<div id="JJPSExtensionTopDiv" class="span-24 last append-bottom">
    <div class="prepend-2 span-8">
        <h1>Documentation</h1>
    </div>
    <div class="span-8 append-6 last">
        <h2><a href="/extension/documentation/features">Features</a></h2>
        <h2><a href="/extension/documentation/preferences">Preferences</a></h2>
        <h2><a href="/extension/documentation/screenshots">Screenshots</a></h2>
        <h2><a href="/extension/documentation/statement">Statement</a></h2>
        <h2><a href="/extension/documentation/credits">Credits</a></h2>
        $:frontmatter
    </div>
</div>
