$def with ()
$var title: FAQ || Extension || Journal of Journal Performance Studies

<div id="JJPSExtensionTopDiv" class="span-24 last append-bottom">
    <div class="prepend-4 span-6">
        <h1>Frequently Asked Questions</h1>
        <h2>And some not-so-frequent ones as well</h2>
    </div>
    <div class="span-8 append-6 last">
        <div>
            <h2><a href="#EnableDisable">Is there an easy way to disable/enable the extension?</a></h2>
            <h2><a href="#Marquee">How do I turn off the marquee?</a></h2>
            <h2><a href="#Pages">Why does it not display anything on page X of site Y?</a></h2>
            <h2><a href="#CiteULike">Why is nothing being displayed on CiteULike?</a></h2>
        </div>
        <div id="EnableDisable">
            <h2>Is there an easy way to disable/enable the extension?</h2>
            <p>Of course!  To add a button to your Firefox browser toolbar that you can use to easily enable/disable the extension do the following:</p>
            <ol>
                <li>Go to the "View" menu.</li>
                <li>Under the "Toolbars" option, select "Customize"</li>
                <li>Look for the "JJPS" button</li>
                <li>Drag it to where you like on your toolbar</li>
            </ol>
            <p>The extension can now be easily enabled/disabled by simply clicking on the button.</p>
        </div>
        <div id="Marquee">
            <h2>How do I turn off the marquee?</h2>
            <p>Go to the JJPS Extension Preferences (under the "Tools" menu of Firefox), select the "Advanced" tab, and deselect "Use Unnecessary Marquee".</p>
        </div>
        <div id="Pages">
            <h2>Why does it not display anything on page X of site Y?</h2>
            <p>The JJPS Extension works by analyzing the page you are browsing and requesting information about the journal from our server.  Because each page is coded slightly differently, our code has to jump through a lot of hoops to simply get the name of the journal.  Therefore certain pages are not able to be processed by the extension at this time.  If you think there is a page that we should be able to process, please send the link to us by opening a <a href="http://dev.journalofjournalperformancestudies.org/tickets/new">new ticket</a> on our support page.</p>
        </div>

        <div id="CiteULike">
            <h2>Why is nothing being displayed in CiteULike?</h2>
            <p>The CiteULike processing is functioning only intermittently, for some unknown reason.  We are working on a solution.</p>
        </div>

    </div>
</div>
