$def with ()
$var title: FAQ || Extension || Journal of Journal Performance Studies

<div id="JJPSExtensionTopDiv" class="span-24 last append-bottom">
    <div class="prepend-4 span-6">
        <h1>Frequently Asked Questions</h1>
        <h2>And some not-so-frequent ones as well</h2>
    </div>
    <div class="span-8 append-6 last">
        <div>
            <h2><a href="#EnableDisable">Is there an easy way to disable/enable the extension?</a></h2>
            <h2><a href="#Marquee">How do I turn off the marquee?</a></h2>
        </div>
        <div id="EnableDisable">
            <h2>Is there an easy way to disable/enable the extension?</h2>
            <p>Of course!  To add a button to your Firefox browser toolbar that you can use to easily enable/disable the extension do the following:</p>
            <ol>
                <li>Go to the "View" menu.</li>
                <li>Under the "Toolbars" option, select "Customize"</li>
                <li>Look for the "JJPS" button</li>
                <li>Drag it to where you like on your toolbar</li>
            </ol>
            <p>The extension can now be easily enabled/disabled by simply clicking on the button.</p>
        </div>
        <div id="Marquee">
            <h2>How do I turn off the marquee?</h2>
            <p>Go to the JJPS Extension Preferences (under the "Tools" menu of Firefox), select the "Advanced" tab, and deselect "Use Unnecessary Marquee".</p>
        </div>
    </div>
</div>
