$def with ()
$var title: Credits || Extension || Journal of Journal Performance Studies

<div id="JJPSExtensionTopDiv" class="span-24 last append-bottom">
    <div class="prepend-4 span-6">
        <h1>Credits</h1>
    </div>
    <div class="span-8 append-6 last">
        <p>Thanks to Jo-Anne Green and Helen Thorington for their support and willingness to provide me with this commission.  Thanks also to Jesse Gilbert for dealing with my particular technical requirements.  And finally, to Claudia Costa Pederson and Ixtel for extensive assistance throughout and dealing with my obsessions as the project came to fruition.</p>
        <p>Journal of Journal Performance Studies is a 2009 commission of New Radio and Performing Arts, Inc., (aka Ether-Ore) for its Turbulence web site. It was made possible with funding from the Jerome Foundation.</p>
    </div>
</div>

