$def with (content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- Blueprint templates -->
    <link rel="stylesheet" href="/static/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/static/blueprint/print.css" type="text/css" media="print" />  
    <link rel="stylesheet" href="/static/blueprint/src/typography.css" type="text/css" media="screen,projection" />  
    <!--[if lt IE 8]><link rel="stylesheet" href="/static/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->


    <link rel="stylesheet" type="text/css" href="/static/JJPS.css"/>
    <link rel="stylesheet" type="text/css" media="print" href="/static/JJPSPrint.css" />

    <link rel="alternate" type="application/rss+xml" title="JJPS RSS" href="/feed/rss" />

    <!-- syntax highlighter -->
    <script type="text/javascript" src="/static/js/sh/src/shCore.js"></script>
    <!-- At least one brush, here we choose JS. You need to include a brush for every language you want to highlight -->
    <script type="text/javascript" src="/static/js/sh/scripts/shBrushXml.js"></script>
    <!-- Include *at least* the core style and default theme -->
    <link href="/static/css/sh/shCore.css" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="Stylesheet" href="/static/css/sh/shThemeDefault.css"/>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>

    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
    <link rel="stylesheet" href="/static/css/nivo-slider.css" type="text/css" media="screen" />
    <script src="/static/js/jquery.nivo.slider.pack.js" type="text/javascript"></script>

    <script type="text/javascript" src="/static/JJPS.js"></script>
    <title>$content.title</title>
</head>
<body id="extension">
<div class="container" id="content">
<div class="span-24 last append-bottom">
    <div id="JJPSExtensionLogo" class="prepend-1 span-7 prepend-top">
        <a href="/extension"><img src="/static/images/site/JJPSExtensionHeader.png" alt="JJPS Extension" /></a>
    </div>
    <div class="span-16 prepend-top last">
        <ul id="JJPSExtensionMenu">
            <li><a href="/extension/documentation">Documentation</a></li>
            <li><a href="/extension/download">Download</a></li>
            <li><a href="/extension/FAQ">FAQ</a></li>
            <li><a href="/extension/developers">Developers</a></li>
        </ul>
    </div>
</div>

    $:content
</div>

<div style="background-color: #bbb">
    <div class="container">
    
    <div id="footer" class="span-24 last">
            <div class="prepend-top prepend-4 span-4">
                <h3>JJPS Contact &amp; License</h3>
                <p>editor --at-- journalofjournalperformancestudies ---dot--- org</p>
                <p>Copyleft, <a href="/license">with restrictions</a>, 2010</p>
            </div>
            <div class="prepend-top prepend-1 span-4 append-1">
                <h3><a href="/">JJPS Network</a></h3> 
                <p><a href="/extension">Extension</a></p> 
                <p><a href="/radio">Radio</a></p> 
                <p><a href="/journal">Journal</a></p> 
            </div>
            <div class="prepend-top prepend-1 span-4 append-7 last">
                <h3>JJPS Credits</h3>
                <p>Journal of Journal Performance Studies is a 2009 commission of New Radio and Performing Arts, Inc., (aka Ether-Ore) for its  Turbulence web site.  It was made possible with funding from the Jerome Foundation.</p>
                <p>Back to <a href="http://turbulence.org">turbulence</a>.</p>
            </div>

    </div>
    </div>
</div>
</body>
</html>

