$def with (current, next)
$var title: Radio || Journal of Journal Performance Studies
<div class="span-24 last" style="height: 500px; padding-top:100px">
    <div class="span-5 append-1">
        <div class="menuItem">
            <h1><a href="/static/JJPS.m3u">Listen Live</a></h1>
            <!--<p><audio src="http://journalofjournalperformancestudies.org:8000/JJPS" controls preload="auto" autobuffer></audio></p>-->

        </div>
        <div class="menuItem">
            <h1><a href="/radio/feed/podcast.xml">Podcast</a></h1>
        </div>

        <!--
        <div class="menuItem">
            <audio controls autobuffer>
                <source src="http://journalofjournalperformancestudies.org:8000/JJPS" />
                Your browser does not support the audio HTML 5 element yet.
            </audio>
        </div>
        -->
    </div>
    <div id="menu" class="span-5 append-1">
        <div class="menuItem">
            <h1><a href="/radio/schedule">Schedule</a></h1>
        </div>
        <div class="menuItem">
            <h1><a href="/radio/programs">Programs</a></h1>
        </div>
        <div class="menuItem">
            <h1><a href="/radio/technical">Technical</a></h1>
        </div>
    </div>

    <div class="span-5 append-1">
        <div id="current">
            $:current
        </div>
        <div id="JJPSRadioFrontInfo">
            <h3>JJPS Radio</h3>
            <p>JJPS Radio provides journal performance programming 24 hours a day, 7 days a week.  All shows are generated automatically from our database of hundreds of articles and over 16000 journal titles and their publishers.</p>
        </div>
    </div>
    <div class="span-5 last">
        <div id="next">
            $:next
        </div>
    </div>
</div>

