$def with (technical)
$var title: Technical || Journal of Journal Performance Studies
<div class="span-24 last">
    <div id="menu" class="prepend-5 span-5 append-1">
        <div class="menuItem">
            <h1><a href="/radio/schedule">Schedule</a></h1>
        </div>
    </div>
    <div id="menu" class="span-5 append-1">
        <div class="menuItem">
            <h1><a href="/radio/programs">Programs</a></h1>
        </div>
    </div>

    <div id="menu" class="span-5 append-3 append-bottom last">
        <div class="menuItem menuHighlighted">
            <h1><a href="/radio/technical">Technical</a></h1>
        </div>
    </div>
</div>
<div class="span-24 append-bottom last">
    <div class="prepend-11 span-11 append-2 last prepend-top">
        <div class="item">
            <h2>Technical information about JJPS Radio</h2>
            <p>All of our programs are generated automatically; nothing is pre-recorded, with the exception of a few samples here and there.</p>
        </div>
        <div class="item">
            $:technical
        </div>
    </div>
</div>
