/*
 * By adding !important to most of the styles we can override the site's default styling
 * Need to be careful of the times when we make changes to these values from the extension; then we have to take off the !important declaration
 * Lots taken from http://www.sohtanaka.com/web-design/facebook-style-footer-admin-panel-part-1/
 */

/*
 * Try a "reset" on the div
 */
#JJPSHeaderDiv * {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    outline: 0 !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 100% !important;
    font-family: "Gill Sans", "Lucida Grande", "Helvetical Neue", "Verdana", "sans-serif" !important;
    vertical-align: baseline !important;
    color: black !important;
    background-color: transparent !important;
}

#JJPSHeaderDiv {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 9999 !important;
    background: #b3b2b2 !important;
    width: 94% !important;
    height: 40px !important;
    margin: 0 3% !important;
    border: 1px solid #212121 !important;
    border-top: none !important;
    line-height: 15px !important;
}

#JJPSHeaderLogoDiv {
    width: 60px !important;
    height: 32px !important;
    margin-top: 4px !important;
    padding-right: 4px !important;
    border-right: 1px solid #565656 !important;
    float: left !important;
    background: url(chrome://JJPS/skin/JJPSHeaderIcon.png) no-repeat !important;
    /*background: url(JJPSHeaderIcon.png) no-repeat !important;*/
}

#JJPSHeaderRadioDiv {
    margin-top: 4px !important;
    width: 250px !important;
    float: right !important;
    font-size: 10px !important;
    border-left: 1px solid #565656 !important;
    padding-left: 6px !important;
}

#JJPSHeaderRadioDiv strong {
    font-weight: bold !important;
}

#JJPSHeaderRadioLogoDiv {
    margin: 0em !important;
    padding: 0em !important;
    width: 30px !important;
    float: left !important;
    background: url(chrome://JJPS/skin/JJPSRadioIcon.png) no-repeat !important;
    /*background: url(JJPSRadioIcon.png) no-repeat !important;*/
}

#JJPSRadioInfoUL {
    padding: 0 !important;
    margin: 0 !important;
    float: left !important;
    list-style: none !important;
}

#JJPSRadioInfoUL li {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none !important;
}

#JJPSMenuUL {
    padding: 0 !important;
    margin-left: 4px !important;
    float: left !important;
    list-style: none !important;
}

#JJPSMenuUL li {
    padding: 0 !important;
    margin: 0 !important;
    float: left !important;
    position: relative !important;
    list-style-type: none !important;
    margin-top: 4px !important;
    color: #ca0000 !important;
}

#JJPSMenuUL li a {
    padding: 5px !important;
    float: left !important;
    /*text-indent: -9999px !important;*/
    text-decoration: none !important;
    color: #ca0000 !important;
    position: relative !important;
    font-size: 14px !important;
    font-weight: bold !important;
    display: block !important;
}

#JJPSMenuUL li a:hover {
    background-color: #d3d2d2 !important;
}

#JJPSMenuUL a small {
    text-align: center !important;
    width: 70px !important;
    padding: 5px 5px 11px !important;
    display: none;
    color: #fff !important;
    text-indent: 0 !important;
    font-size: 10px !important;
}

#JJPSMenuUL a:hover small {
    display: block !important;
    position: absolute !important;
    top: 35px !important;
    left: 50% !important;
    margin-left: -40px !important;
    z-index: 9999 !important;
    color: black !important;
}

/* For the panels */
#JJPSMenuUL li div a {
    text-indent: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 0em !important;
    float: none !important;
    color: #00629a !important;
    position: static !important;
}

#JJPSMenuUL li div a:hover {
    text-decoration: underline !important;
}

#JJPSMenuUL .subpanel {
    position: absolute !important;
    left: 0em !important;
    top: 36px !important;
    width: 200px !important;
    display: none;
    border: 1px solid #555 !important;
    overflow: hidden !important;
}

#JJPSMenuUL h3 {
    padding: 5px 10px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

#JJPSMenuUL .subpanel ul {
    padding: 0em !important;
    margin: 0em !important;
    width: 100% !important;
    overflow: auto !important;
    padding-top: 2px !important;
}

#JJPSMenuUL .subpanel li {
    float: none !important;
    display: block !important;
    padding: 0em !important;
    margin: 0em !important;
    overflow: hidden !important;
    clear: both !important;
    position: static !important;
}

#JJPSMenuUL #JJPSFactorsSubpanel .subpanel {
    position: absolute !important;
    left: 0em !important;
    top: 36px !important;
    width: 200px !important;
    background-color: #d3d2d2 !important;
}

#JJPSMenuUL #JJPSFactorsSubpanel .subpanel ul {
    padding: 6px !important;
}


#JJPSMenuUL #JJPSFactorsSubpanel .subpanel ul li {
    font-size: 12px !important;
    margin-bottom: 2px !important;
}

#JJPSMenuUL #JJPSFactorsSubpanel .subpanel ul li:hover {
    background-color: #b3b2b2 !important;
}

#JJPSFrobpactFactorName, #JJPSEigenfrobFactorName, #JJPSFrobfluenceName, #JJPSSJRName, #JJPSHIndexName, #JJPSClickValueName {
    font-weight: bold !important;
}

#JJPSFrobpactFactorValue, #JJPSEigenfrobFactorValue, #JJPSFrobfluenceValue, #JJPSSJRValue, #JJPSHIndexValue, #JJPSClickValueValue {
}

#JJPSMenuUL #JJPSGraphSubpanel .subpanel {
    position: absolute !important;
    left: 0em !important;
    top: 36px !important;
    width: 700px !important;
    background-color: #d3d2d2 !important;

}

#JJPSMenuUL #JJPSGraphSubpanel .subpanel h3 {
    background: #b3b2b2 !important;
    color: #ca0000 !important;
}

#JJPSHeaderAdParent, #JJPSHeaderResponseParent {
    margin-left: 4px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    padding-left: 6px !important;
    width: 100px !important;
    height: 32px !important;
    float: left !important;
    border-left: 1px solid #565656 !important;
    font-size: 10px !important;
}

#JJPSHeaderResponseDiv {
    margin-top: 4px !important;
    font-size: 10px !important;
}

#JJPSHeaderAdDiv strong {
    font-weight: bold !important;
}

/* For the ticker */

#JJPSTicker {
    font-family: "Helvetica", "Verdana", sans-serif !important;
    margin: 0em !important;
    padding: 0em !important;
    position: fixed !important;
    bottom: 0em !important;
    left: 0em !important;
    width: 100% !important;
    height: 20px;
    z-index: 100 !important;
    font-size: 18px !important;
}

#JJPSOwnershipDiv {
    height: 20px !important;
    background-color: #000 !important;
    color: #FFF !important;
    margin: 0em !important;
    padding: 0em !important;
    font-size: 18px !important;
}

#JJPSNews {
    height: 20px !important;
    color: #000 !important;
    background-color: #FFF !important;
    margin: 0em !important;
    padding: 0em !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

#JJPSNews ol {
    margin: 0em !important;
    padding: 0em !important;
}

#JJPSNews ol li {
    margin: 0em !important;
    padding: 0em !important;
}

li.JJPSNewsItem {

}

li.JJPSNewsItemShow {
    display: inline;
}

li.JJPSNewsItemHide {
    display: none;
}

.stockDown {
    color: #FF0000 !important;
}

.stockUp {
    color: #00FF00 !important;
}
