
#JJPSToolbarButton {
    list-style-image: url("chrome://JJPS/skin/icon24.png");
    display: -moz-box !important;
}   

toolbar[iconsize="small"] #JJPSToolbarButton {
    list-style-image: url("chrome://JJPS/skin/icon16.png");
}

#JJPSToolsMenu {
    list-style-image: url("chrome://JJPS/skin/icon16.png");
}


